<ion-content>
    <ion-text>
        <div class="ion-margin-start">
            <p>Allgemeine Gesch&auml;ftsbedingungen der Firma Businesse GbR<br/><br/></p>
            <p>&sect;1 Geltung gegen&uuml;ber Unternehmern und Begriffsdefinitionen</p>
            <p>(1) Die nachfolgenden Allgemeinen Gesch&auml;ftbedingungen gelten f&uuml;r alle Lieferungen zwischen uns
                und einem Verbraucher in ihrer zum Zeitpunkt der Bestellung g&uuml;ltigen Fassung.<br/><br/>Verbraucher
                ist jede nat&uuml;rliche Person, die ein Rechtsgesch&auml;ft zu Zwecken abschlie&szlig;t, die &uuml;berwiegend
                weder ihrer gewerblichen noch ihrer selbst&auml;ndigen beruflichen T&auml;tigkeit zugerechnet werden k&ouml;nnen
                (&sect; 13 BGB).<br/><br/></p>
            <p>&sect;2 Zustandekommen eines Vertrages, Speicherung des Vertragstextes</p>
            <p>(1) Die folgenden Regelungen &uuml;ber den Vertragsabschluss gelten f&uuml;r Bestellungen &uuml;ber
                unseren Internetshop http://www.businesse.com .<br/><br/><strong>(2) Im Falle des Vertragsschlusses
                    kommt der Vertrag mit<br/></strong></p>
            <div><br/>Businesse GbR<br/>Abgela Merkel, Thomas Haudrauf<br/>Eine Stra&szlig;e 32<br/>D-80993 M&uuml;nchen<br/>Registernummer
                HRB 246298<br/>Registergericht M&uuml;nchen<br/><br/></div>
            <p><strong>zustande.<br/></strong><br/>(3) Die Pr&auml;sentation der Angebote stellen
                kein rechtlich bindendes Vertragsangebot unsererseits dar. Mit der Bestellung der gew&uuml;nschten Ware gibt
                der Verbraucher ein f&uuml;r ihn verbindliches Angebot auf Abschluss eines Kaufvertrages ab.<br/><br/>Die
                Annahme des Angebots erfolgt schriftlich oder in Textform oder durch &Uuml;bersendung der bestellten
                Ware innerhalb von einer Woche. Nach fruchtlosem Ablauf der Frist gilt das Angebot als
                abgelehnt.<br/><br/>(4) Bei Eingang einer Bestellung in unserem Internetshop gelten folgende Regelungen:
                Der Verbraucher gibt ein bindendes Vertragsangebot ab, indem er die in unserem Internetshop vorgesehene
                Bestellprozedur erfolgreich durchl&auml;uft.<br/><br/>Die Bestellung erfolgt in folgenden
                Schritten:<br/><br/></p>
            <div class="ml20">1) Auswahl der gew&uuml;nschten Ware<br/>2) Best&auml;tigen durch Anklicken der Buttons
                &bdquo;Bestellen&ldquo;<br/>3) Pr&uuml;fung der Angaben im Warenkorb<br/>4) Bet&auml;tigung des Buttons
                &bdquo;zur Kasse&ldquo;<br/>5) Anmeldung im Internetshop nach Registrierung und Eingabe der
                Anmelderangaben (E-Mail-Adresse und Passwort).<br/>6) Nochmalige Pr&uuml;fung bzw. Berichtigung der
                jeweiligen eingegebenen Daten.<br/>7) Verbindliche Absendung der Bestellung durch Anklicken des Buttons
                &bdquo;kostenpflichtig bestellen&ldquo; bzw. &bdquo;kaufen&ldquo;<br/><br/></div>
            <p>Der Verbraucher kann vor dem verbindlichen Absenden der Bestellung durch Bet&auml;tigen der in dem von
                ihm verwendeten Internet-Browser enthaltenen &bdquo;Zur&uuml;ck&ldquo;-Taste nach Kontrolle seiner
                Angaben wieder zu der Internetseite gelangen, auf der die Angaben des Kunden erfasst werden und
                Eingabefehler berichtigen bzw. durch Schlie&szlig;en des Internetbrowsers den Bestellvorgang abbrechen.
                Wir best&auml;tigen den Eingang der Bestellung unmittelbar durch eine automatisch generierte E-Mail
                (Eingangsbest&auml;tigung). Diese stellt noch keine Annahme des Angebotes dar. Die Annahme des Angebots
                erfolgt schriftlich, in Textform oder durch &Uuml;bersendung der bestellten Ware innerhalb einer
                Woche.<br/><br/>(5) Speicherung des Vertragstextes bei Bestellungen &uuml;ber unseren Internetshop : Wir
                speichern den Vertragstext und senden Ihnen die Bestelldaten und unsere AGB per E-Mail zu. Die AGB k&ouml;nnen
                Sie jederzeit auch unter http://www.businesse.com/agb einsehen. Ihre vergangenen Bestellungen k&ouml;nnen
                Sie in unserem Kunden-Bereich unter Mein Konto --&gt; Meine Bestellungen einsehen.<br/><br/></p>
            <p>&sect;3 Preise, Versandkosten, Zahlung, F&auml;lligkeit</p>
            <p>(1) Die angegebenen Preise enthalten die gesetzliche Umsatzsteuer und sonstige Preisbestandteile. Hinzu
                kommen etwaige Versandkosten.<br/><br/>(2) Der Verbraucher hat die M&ouml;glichkeit der Zahlung per
                Bankeinzug, PayPal .<br/><br/><br/></p>
            <p>&sect;4 Lieferung</p>
            <p>(1) Sofern wir dies in der Produktbeschreibung nicht deutlich anders angegeben haben, sind alle von uns
                angebotenen Artikel sofort versandfertig. Die Lieferung erfolgt hier sp&auml;testen innerhalb von 5
                Werktagen. Dabei beginnt die Frist f&uuml;r die Lieferung im Falle der Zahlung per Vorkasse am Tag nach
                Zahlungsauftrag an die mit der &Uuml;berweisung beauftragte Bank und bei allen anderen Zahlungsarten am
                Tag nach Vertragsschluss zu laufen. F&auml;llt das Fristende auf einen Samstag, Sonntag oder
                gesetzlichen Feiertag am Lieferort, so endet die Frist am n&auml;chsten Werktag.<br/><br/>(2) Die Gefahr
                des zuf&auml;lligen Untergangs und der zuf&auml;lligen Verschlechterung der verkauften Sache geht auch
                beim Versendungskauf erst mit der &Uuml;bergabe der Sache an den K&auml;ufer auf diesen
                &uuml;ber.<br/><br/></p>
            <p>&sect;5 Eigentumsvorbehalt</p>
            <p>Wir behalten uns das Eigentum an der Ware bis zur vollst&auml;ndigen Bezahlung des Kaufpreises
                vor.<br/><br/>****************************************************************************************************
            </p>
            <p>&sect;6 Widerrufsrecht des Kunden als Verbraucher:</p>
            <p><strong>Widerrufsrecht f&uuml;r Verbraucher</strong><br/><br/>Verbrauchern steht ein Widerrufsrecht nach
                folgender Ma&szlig;gabe zu, wobei Verbraucher jede nat&uuml;rliche Person ist, die ein Rechtsgesch&auml;ft
                zu Zwecken abschlie&szlig;t, die &uuml;berwiegend weder ihrer gewerblichen noch ihrer selbst&auml;ndigen
                beruflichen T&auml;tigkeit zugerechnet werden k&ouml;nnen:<br/><br/></p>
            <p>Widerrufsbelehrung</p>
            <p><br/><strong>Widerrufsrecht</strong><br/><br/>Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von
                Gr&uuml;nden diesen Vertrag zu widerrufen.<br/><br/>Die Widerrufsfrist betr&auml;gt vierzehn Tage, ab
                dem Tag, an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Bef&ouml;rderer ist, die Waren
                in Besitz genommen haben bzw. hat.<br/><br/>Um Ihr Widerrufsrecht auszu&uuml;ben, m&uuml;ssen Sie uns
            </p>
            <div>Businesse GbR<br/>Abgela Merkel, Thomas Haudrauf<br/>Eine Stra&szlig;e 32<br/>D-80993 M&uuml;nchen<br/>E-Mail
                office@businesse.com
            </div>
            <p>mittels einer eindeutigen Erkl&auml;rung (z.B. ein mit der Post versandter Brief, Telefax oder E-Mail)
                &uuml;ber Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie k&ouml;nnen daf&uuml;r das
                beigef&uuml;gte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben
                ist.<br/><br/><strong>Widerrufsfolgen</strong><br/><br/>Wenn Sie diesen Vertrag widerrufen, haben wir
                Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschlie&szlig;lich der Lieferkosten (mit
                Ausnahme der zus&auml;tzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung
                als die von uns angebotene, g&uuml;nstigste Standardlieferung gew&auml;hlt haben), unverz&uuml;glich und
                sp&auml;testens binnen vierzehn Tagen ab dem Tag zur&uuml;ckzuzahlen, an dem die Mitteilung &uuml;ber
                Ihren Widerruf dieses Vertrags bei uns eingegangen ist. F&uuml;r diese R&uuml;ckzahlung verwenden wir
                dasselbe Zahlungsmittel, das Sie bei der urspr&uuml;nglichen Transaktion eingesetzt haben, es sei denn,
                mit Ihnen wurde ausdr&uuml;cklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser R&uuml;ckzahlung
                Entgelte berechnet.<br/><br/>Wir k&ouml;nnen die R&uuml;ckzahlung verweigern, bis wir die Waren wieder
                zur&uuml;ckerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zur&uuml;ckgesandt
                haben, je nachdem, welches der fr&uuml;here Zeitpunkt ist.<br/><br/>Sie haben die Waren unverz&uuml;glich
                und in jedem Fall sp&auml;testens binnen vierzehn Tagen ab dem Tag, an dem Sie uns &uuml;ber den
                Widerruf dieses Vertrages unterrichten, an uns zur&uuml;ckzusenden oder zu &uuml;bergeben. Die Frist ist
                gewahrt, wenn Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden.<br/><br/>Sie tragen die
                unmittelbaren Kosten der R&uuml;cksendung der Waren.<br/><br/><strong>Finanzierte
                    Gesch&auml;fte</strong><br/><br/>Haben Sie diesen Vertrag durch ein Darlehen finanziert und
                widerrufen Sie den finanzierten Vertrag, sind Sie auch an den Darlehensvertrag nicht mehr gebunden, wenn
                beide Vertr&auml;ge eine wirtschaftliche Einheit bilden. Dies ist insbesondere anzunehmen, wenn wir
                gleichzeitig Ihr Darlehensgeber sind oder wenn sich Ihr Darlehensgeber im Hinblick auf die Finanzierung
                unserer Mitwirkung bedient. Wenn uns das Darlehen bei Wirksamwerden des Widerrufs oder der R&uuml;ckgabe
                bereits zugeflossen ist, tritt Ihr Darlehensgeber im Verh&auml;ltnis zu Ihnen hinsichtlich der
                Rechtsfolgen des Widerrufs oder der R&uuml;ckgabe in unsere Rechte und Pflichten aus dem finanzierten
                Vertrag ein. Letzteres gilt nicht, wenn der vorliegende Vertrag den Erwerb von Wertpapieren, Devisen,
                Derivaten oder Edelmetallen zum Gegenstand hat.<br/>Wollen Sie eine vertragliche Bindung so weitgehend
                wie m&ouml;glich vermeiden, widerrufen Sie beide Vertragserkl&auml;rungen gesondert.<br/><br/><strong>Ende
                    der Widerrufsbelehrung</strong><br/><br/>****************************************************************************************************
            </p>
            <p>&sect;7 Widerrufsformular</p>
            <p>Muster-Widerrufsformular</p>
            <p>(Wenn Sie den Vertrag widerrufen wollen, dann f&uuml;llen Sie bitte dieses Formular aus und senden Sie es
                zur&uuml;ck.)</p>
            <div>An :<br/>Businesse GbR<br/>Abgela Merkel, Thomas Haudrauf<br/>Eine Stra&szlig;e 32<br/>D-80993 M&uuml;nchen<br/>E-Mail
                office@businesse.com<br/><br/>Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen
                Vertrag &uuml;ber den Kauf der folgenden Waren (*)/die Erbringung der folgenden Dienstleistung
                (*)<br/><br/>_____________________________________________________<br/><br/>Bestellt am (*)/erhalten am
                (*)<br/><br/>__________________<br/><br/>Name des/der Verbraucher(s)<br/><br/>_____________________________________________________<br/><br/>Anschrift
                des/der Verbraucher(s)<br/><br/><br/>_____________________________________________________<br/><br/>Unterschrift
                des/der Verbraucher(s) (nur bei Mitteilung auf
                Papier)<br/><br/>__________________<br/><br/>Datum<br/><br/>__________________<br/><br/></div>
            <p>(*) Unzutreffendes streichen.<br/><br/></p>
            <p>&sect;8 Gew&auml;hrleistung</p>
            <p>Es gelten die gesetzlichen Gew&auml;hrleistungsregelungen.<br/><br/></p>
            <p>&sect;9 Verhaltenskodex</p>
            <p>Wir haben uns den Verhaltenskodizes der folgenden Einrichtungen unterworfen:</p>
            <p>Euro-Label Germany<br/>EHI-EuroHandelsinstitut GmbH<br/>Spichernstra&szlig;e 55<br/>50672 K&ouml;ln</p>
            <p>Den Euro-Label Verhaltenskodex k&ouml;nnen Sie durch Anklicken des auf unserer Webseite angebrachten
                Euro-Label-Siegels oder unter http://www.euro-label.com abrufen.<br/><br/></p>
            <p>&sect;10 Vertragssprache</p>
            <p>Als Vertragssprache steht ausschlie&szlig;lich Deutsch zur Verf&uuml;gung.<br/><br/><br/></p>
            <p>Stand der AGB Mai.2020</p>
        </div>
    </ion-text>
</ion-content>
