<ion-app>
<ion-header class="header">
  <ion-item class="header-item">
    <ion-button href="" color="dark" color="secondary" style="height: 55%;">
      <ion-icon name="globe"></ion-icon>
    </ion-button>

    <ion-button href="/project-menu" color="secondary" style="height: 55%;">
      <ion-icon name="book"></ion-icon>
    </ion-button>

    <ion-searchbar color="light" class="searchbar-input-container" mode="ios" style="color: black;"></ion-searchbar>
    <ion-button color="secondary" style="height: 55%;" href="/login">Login</ion-button>

    <ion-button href="#" color="dark">
      <ion-icon name="person"></ion-icon>
    </ion-button>
  </ion-item>
</ion-header>


<body>
  <ion-router-outlet ></ion-router-outlet>
</body>
</ion-app> 


