<ion-header>
    <ion-toolbar>
        <ion-title>profile-user</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>
                        <ion-avatar>
                            <img src="{{user.userImage}}"/>
                        </ion-avatar>
                    </ion-card-subtitle>
                    <ion-card-title>{{user.username}}</ion-card-title>
                </ion-card-header>

                <ion-card-content>{{user.basicInformation}}</ion-card-content>
                <ion-card-content>
                    <ion-card-title>{{user.username}}s letze Tätigkeiten</ion-card-title>
                </ion-card-content>
                <ion-card-content>{{user.experience}}</ion-card-content>
                <ion-card-content>
                    <ion-card-title>Diesen Bewerber kontaktieren?</ion-card-title>
                </ion-card-content>
                <ion-card-content>Email Adresse: {{user.emailAddress}}</ion-card-content>
                <ion-card-content>Telefon: {{user.tel}}</ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>
