<!-- <ion-header>
  <ion-item class="header-item">
    <ion-button href="home" color="dark">
      <ion-icon name="globe"></ion-icon>
    </ion-button>

    <ion-button href="/project-menu" color="dark">
      <ion-icon name="book"></ion-icon>
    </ion-button>

    <ion-searchbar color="light" class="searchbar-input-container" mode="ios" style="color: black;"></ion-searchbar>
    <ion-button color="secondary" style="height: 55%;" href="login.page.html">Login</ion-button>

    <ion-button href="#" color="dark">
      <ion-icon name="person"></ion-icon>
    </ion-button>
  </ion-item>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        {{id}}
      </ion-col>
      <ion-col *ngIf="this.account_id != null" >
        Deine ID: {{this.account_id}}
      </ion-col>
      <ion-col *ngIf="this.isPartner == true" >
        Sie sind Partner
      </ion-col>
      <ion-col *ngIf="this.isProvider == true" >
        Sie sind Provider
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="clear" shape="round">
          Click me
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>