<ion-content>
    <ion-text>
        <div class="ion-margin-start">
            <h1>Sponsoring</h1>
            <p>Vielen Dank, dass Sie sich für unser Sponsoring Programm interessieren!</p>
            <p>Sie möchten uns unterstützen? Auf dieser Seite finden Sie alle nötigen Informationen.</p>
        </div>
    </ion-text>
    <div class="ion-margin-start">
        <ion-button color="primary">PayPal</ion-button>
        <ion-button color="primary">Kreditkarte</ion-button>
        <ion-button color="primary">SOFORT Überweisung</ion-button>
        <ion-button color="primary">Giropay</ion-button>
        <ion-button color="primary">IBAN</ion-button>
    </div>
</ion-content>
