<!-- 
<ion-header >
  <ion-toolbar  class="color">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button href="#" color="dark">
            <ion-icon name="globe"></ion-icon>
          </ion-button>
          <ion-button href="/project-menu" color="dark">
            <ion-icon name="book"></ion-icon>
          </ion-button>
        </ion-col>
        
        <ion-col>
          <ion-button href="#" color="dark">
            <ion-icon name="log-in"></ion-icon>
          </ion-button>
          <ion-button href="#" color="dark">
            <ion-icon name="person"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-searchbar style=" color: white;"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="left: 30%; height: 100%; background-color: white;">
    <!--Kategorie-Slider-->
    <ion-row style="background-color: white;">
      <ion-col size="12">
        <ion-slides mode="ios" pager="false" scrollbar="ios" [options]="{slidesPerView: 'auto', zoom: false, grabCursor: true}">
          <ion-slide *ngFor="let card of Kategorien" style="width: 250px;">
            <ion-col>
              <ion-card button color="primary" (click)="setCategory(card.name)">
                <ion-card-content>
                  {{card.name}}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row style="background-color: rgb(236, 236, 236);">
      <ion-col size-lg="9" size-xs="12">

        <!-- <ion-item id="previewitem">
            <ion-grid fixed > -->
    
              <ion-label></ion-label>
              <ion-row *ngFor="let project of json">
                <ion-card *ngIf="project.category == this.category || this.category == 'Alle Kategorien'"   mode="ios" style="width: 100%; height: fit-content; background-color: rgb(241, 177, 75);">
                  <ion-card-content mode="ios" style="padding: 6px; height: fit-content">
                    
                    <!-- <ion-label style="position: absolute; top: 2%; left: 2%; font-size: large; font-weight: 800;">{{project.name}}</ion-label>
                    <ion-label style="position: absolute; top: 2%; right: 2%;">{{project.category}}</ion-label>
                    <ion-label style="position: absolute; bottom: 2%; left: 2%;">{{project.company}}</ion-label>
                    <ion-item id="previewitembutton" button (click)="toProject(project.id)" style="position: absolute; right: 0.5%; bottom: 2%; width: fit-content; height: fit-content; font-size: small; font-weight: 800; background-color: lightblue; color: white;">
                      <ion-label>Zum Projekt</ion-label>
                    </ion-item> -->

                    <ion-grid fixed style="height: 100%; width: 100%;">
                      <ion-row>
                        <ion-col size-xs="0" size-md="5" size-xl="4" style="height: 100%; width: 100%; align-content: center;">
                          <!-- <ion-item>
                            <ion-avatar slot="end">
                              <img [src]="image" />
                            </ion-avatar>
                            <ion-label>Item Avatar</ion-label>
                          </ion-item> -->
                          <ion-img [src]="project.img"></ion-img>
                        </ion-col>

                        <ion-col size-md="7" size-xl="8">

                          <ion-row>

                            <ion-col size-xs="6" size-sm="4" size-md="8">
                              <ion-label style="font-size: large; font-weight: 700;">{{project.name}}</ion-label>
                            </ion-col>

                            <ion-col size-xs="6" size-sm="3" size-md="4">
                              <ion-row>
                                <ion-col size-xs="12" size-sm="0">
                                  <ion-img [src]="project.img"></ion-img>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col size="12" style="text-align: end;">{{project.category}}</ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col style="text-align: end;">
                                  <ion-label>7,5 km <ion-icon name="ios-navigate"></ion-icon></ion-label> 
                                </ion-col>
                              </ion-row>
                            </ion-col>

                            <ion-col size-xs="0" size-sm="5" size-md="0">
                              <ion-img [src]="project.img"></ion-img>
                            </ion-col>
                          </ion-row>

                          <ion-row>
                            <ion-col size-md="7" size-xs="12">
                              <ion-label>{{project.company}}</ion-label>
                            </ion-col>
                            <ion-col size-md="5" size-xs="12">
                              <!-- <ion-item id="previewitembutton" button (click)="toProject(project.id)" style="font-size: small; font-weight: 800; text-align: center; background-color: #77D12F;">
                                <ion-label>Zum Projekt</ion-label>
                              </ion-item> -->
                              <ion-button mode="ios" color="primary" [routerLink]="['/project', project.id]"  routerDirection="forward" expand="full" >
                                Zum Projekt
                              </ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                  </ion-card-content>
                </ion-card>
              </ion-row>
            <!-- </ion-grid>
          </ion-item> -->
      </ion-col>

      <ion-col size-lg="3" size-xs="12">
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
