ion-content {

    --ion-background-color: rgb(236, 236, 236);
    overflow: hidden;
}

ion-header {
    --ion-background-color: #77D12F;
}

ion-searchbar {
    .searchbar-input-container {
        background-color: white;
        border-color: transparents;
    }
}

.searchbar-left-aligned.sc-ion-searchbar-ios-h 
.searchbar-input.sc-ion-searchbar-ios{
    background-color: white;
}


.container{
    position: relative;
    display: flex;
    height: inherit;
}


#previewitem {
    position: absolute;
    width: 80%;
    top: 0;
    left: 0;
}

#sideitem{
    position: absolute;
    width: 20%;
    top: 0;
    right: 0;
    background: hotpink;
}

.previewimage{

    position: absolute;
    text-align: start;
}

@media only screen and (max-width: 1024px) {

    #previewitem{
        background-color: rgb(241, 177, 75);
        width: 100%;
    }

    #sideitem{
        width: 100%;
        top: unset;
        right: unset;
        left: 0;
        bottom: 0;
    }

}

#previewitembutton[type=button] {
    background-color: #5BB32E;
}
