<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button href="#" color="dark">
            <ion-icon name="globe"></ion-icon>
          </ion-button>
          <ion-button href="/project-menu" color="dark">
            <ion-icon name="book"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" href="home">
            <img src="/assets/BusinessELogoByNamelix.png"/>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button href="#" color="dark">
            <ion-icon name="log-in"></ion-icon>
          </ion-button>
          <ion-button href="#" color="dark">
            <ion-icon name="person"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-searchbar></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="username" class="ion-padding-top ion-text-center">
    <h2>{{username}}</h2>

    <ion-list inset>
      <ion-item (click)="logout()">Logout</ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button href="#" color="dark">
            <ion-icon name="help"></ion-icon>
          </ion-button>
          <ion-button href="#" color="dark">
            <ion-icon name="settings"></ion-icon>
          </ion-button>
          <ion-button href="#" color="dark">
            <ion-icon name="wallet"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
